<footer class="footer">
  <small>
    App developed by Alejandra Garay, Pablo Cardenas and Josue Garcia
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>